md-toolbar md-icon {
  margin-right: 0.5em;
}
.directory-label {
  overflow: hidden;
  text-overflow: ellipsis;
}
.md-sidenav-right {
  overflow: visible;
}

/**
 * fab buttons that break the edge of the container element
 */

.md-button.md-fab.md-fab-bottom-left-edge {
  top: auto;
  right: auto;
  left: -36px;
  bottom: 20px;
  position: absolute;
}

/**
 * Directory Picker
 */

directory-picker input {
  display: none;
}

/**
 * File Explorer
 */

file-explorer {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.file-explorer-root {
  overflow: hidden;
}
file-explorer md-list-item.md-2-line .md-list-item-text {
  margin-left: 8px;
}

/**
 * Grid
 */

md-grid-tile:hover {
  cursor: pointer;
}
md-grid-tile.yellow {
  background-color: #FFFF8D;
}
md-grid-tile.yellow:hover {
  background-color: #FFFF62;
}
md-grid-tile.green {
  background-color: #B9F6CA;
}
md-grid-tile.green:hover {
  background-color: #91F1AC;
}
md-grid-tile.pink {
  background-color: #FF80AB;
}
md-grid-tile.pink:hover {
  background-color: #FF5891;
}
md-grid-tile.blue {
  background-color: #84FFFF;
}
md-grid-tile.blue:hover {
  background-color: #2FFFFF;
}
md-grid-list md-grid-tile figure {
  padding-top: 40px;
}
.files-count {
  font-weight: bold;
  display: inline;
}
