md-toolbar md-icon {
  margin-right: 0.5em;
}
.directory-label {
  overflow: hidden;
  text-overflow: ellipsis;
}
.md-sidenav-right {
  overflow: visible;
}

/**
 * fab buttons that break the edge of the container element
 */

.md-button.md-fab.md-fab-bottom-left-edge {
  top: auto;
  right: auto;
  left: -36px;
  bottom: 20px;
  position: absolute;
}
